<main>
  <div id="backgroundImageContainer">
    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="container-fluid">
        <a id="logo" class="navbar-brand">LOGO</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navItems">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a class="nav-link">Conócenos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link">Conecta</a>
            </li>
            <li class="nav-item">
              <a class="nav-link">Dar</a>
            </li>
            <li class="nav-item">
              <a class="nav-link">Contacto</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <section
      class="d-flex justify-content-end align-items-center"
      id="heroSection"
    >
      <div
        id="heroTitle"
        class="d-flex flex-column justify-content-center align-items-end"
      >
        <h1>¡Bienvenido al Taller!</h1>
        <p>Vivir por fé, ser conocido por amor, ser una voz de esperanza</p>
        <button class="styledButton">Visítanos</button>
      </div>
    </section>
  </div>
</main>
